{% extends "layout.html" %}
{% block content %}
<h2>Search Results</h2>

{% if results is none %}
<p>Type something above to search.</p>

{% elif results|length == 0 %}
<p>No results found for '<strong>{{ term }}</strong>'.</p>

{% else %}
<p>{{ results|length }} results for '<strong>{{ term }}</strong>'</p>

{% for m in results %}
<div class="msg">
    <a href="/message/{{ m.id }}"><strong>{{ m.message }}</strong></a><br>
    <span class="timestamp">{{ m.timestamp }}</span><br>
    Capcodes: {{ m.capcodes }}
</div>
{% endfor %}

{% endif %}

{% endblock %}
